<footer class="bg-dark py-5">
  <div class="container">
    <!-- ============================================================== -->
    <div class="row footer__top mx-auto border-bottom border-secondary">
      <div class="col-lg-3 footer__akira footer__list">
        <h5 class="footer__mainheader fw-bolder fs-4">
          <a
            href="/index.html"
            class="text-light text-decoration-none text-uppercase"
            ><span class="text-danger">a</span>lwaan</a
          >
        </h5>
        <p class="text-white-50 pt-4 lh-lg fs-6 footer__maintext">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
          Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
          Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede
          ...
        </p>
      </div>
      <div class="col-lg-3 footer__contact footer__list">
        <h5>
          <a class="text-light text-decoration-none text-uppercase" href="#"
            >contact us</a
          >
        </h5>
        <ul class="ps-0 pt-3">
          <li class="pb-2">
            <span class="text-light fw-medium pe-1">Address:</span
            ><a class="text-secondary text-decoration-none text-capitalize fs-6"
              >123 Fake Street, New York</a
            >
          </li>
          <li class="pb-2">
            <span class="text-light fw-medium pe-1">Phone:</span
            ><a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >(08) 8827 633354</a
            >
          </li>
          <li class="pb-2">
            <span class="text-light fw-medium pe-1">Fax:</span
            ><a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >(08) 8827 633354</a
            >
          </li>
          <li class="pb-2">
            <span class="text-light fw-medium pe-1">Mail:</span
            ><a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >contact@yoursite.com</a
            >
          </li>
          <li class="pb-2">
            <span class="text-light fw-medium pe-1">Openning:</span
            ><a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >8:00 - 19:00, Mon - Sat</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-2 footer__information footer__list">
        <h5>
          <a class="text-light text-decoration-none text-uppercase" href="#"
            >information</a
          >
        </h5>
        <ul class="ps-0 pt-3">
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >About us</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Legal Notice</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Addresses</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Order</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Payment</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Suppliers</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-2 footer__account footer__list">
        <h5>
          <a class="text-light text-decoration-none text-uppercase" href="#"
            >my account</a
          >
        </h5>
        <ul class="ps-0 pt-3">
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Delivery</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Legal Notice</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >About us</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Prices drop</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >New products</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Best sales</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-2 footer__company footer__list">
        <h5>
          <a class="text-light text-decoration-none text-uppercase" href="#"
            >company</a
          >
        </h5>
        <ul class="ps-0 pt-3">
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >My account</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >My Cart</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Identity</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Order</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Contact us</a
            >
          </li>
          <li class="pb-1">
            <a
              class="text-secondary text-decoration-none text-capitalize fs-6"
              href="#"
              >Addresses</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- ==========================================light============= -->
    <div class="row footer__bottom">
      <ul class="d-flex justify-content-center my-4">
        <li class="px-2">
          <a
            class="text-light text-decoration-none text-capitalize fs-6 text-uppercase"
            href="#"
            >returns</a
          >
        </li>
        <li class="px-2">
          <a
            class="text-light text-decoration-none text-capitalize fs-6 text-uppercase"
            href="#"
            >orders history</a
          >
        </li>
        <li class="px-2">
          <a
            class="text-light text-decoration-none text-capitalize fs-6 text-uppercase"
            href="#"
            >site map</a
          >
        </li>
        <li class="px-2">
          <a
            class="text-light text-decoration-none text-capitalize fs-6 text-uppercase"
            href="#"
            >testimonial</a
          >
        </li>
      </ul>
      <span class="footer__copy text-white-50 text-center fs-6"
        >&copy; Copyright 2023 Alwaan Store. All Rights Reserved.
      </span>
      <figure class="footer__payment text-center mt-4">
        <img src="../img/footer.jpg" alt="payment websites photo" />
      </figure>
    </div>
  </div>
</footer>
